<div class="repo p-2 text-center">
  <a href="https://github.com/abhinavbharadwajr">
    <img class="repo-img-light w-100" alt="abhinavbharadwajr" align="center" src="https://github-readme-stats.vercel.app/api?username=abhinavbharadwajr&theme={{ site.repo_theme_light }}&show_icons=true&include_all_commits=true&line_height=27&count_private=true" alt="Abhinav's GitHub Stats" />
    <img class="repo-img-light w-100" alt="abhinavbharadwajr" align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=abhinavbharadwajr&theme={{ site.repo_theme_light }}&layout=compact&card_width=445&langs_count=5" alt="Most Used Languages" />
  </a>
</div>

<div class="repo p-2 text-right">
  <a href="https://github.com/abhinavbharadwajr">
    <img class="repo-img-dark w-100" alt="abhinavbharadwajr" align="center" src="https://github-readme-stats.vercel.app/api?username=abhinavbharadwajr&theme={{ site.repo_theme_dark }}&show_icons=true&include_all_commits=trueline_height=27&count_private=true" alt="Abhinav's GitHub Stats" />
    <img class="repo-img-dark w-100" alt="abhinavbharadwajr" align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=abhinavbharadwajr&theme={{ site.repo_theme_dark }}&layout=compact&card_width=445&langs_count=5" alt="Most Used Languages" />
  </a>
</div>
